<!-- Bootstrap CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- Main CSS -->
<link href="assets/css/main.css" rel="stylesheet" media="screen">

<!-- Slidebar CSS -->
<link rel="stylesheet" type="text/css" href="assets/css/slidebars.css">

<!-- date range -->
<link rel="stylesheet" type="text/css" href="assets/css/daterange.css">

<!-- Metrize Fonts -->
<link href="assets/fonts/metrize.css" rel="stylesheet">


<div ng-controller = "automaticController">

<div ng-include src = "'Layouts/sidebar.html'"></div>

<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper">

  <div ng-include src = "'Layouts/header.html'"></div>

      <!-- Main Container Start -->
      <div class="main-container">

        <!-- Top Bar Starts -->
        <div class="top-bar clearfix">
            <div class="page-title">
                <h4><div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                  Automatic Entries
                  <a ui-sref="dayCharts" class="samll">All Transactions</a>
                </h4>
            </div>
            <ul class="right-stats hidden-xs" id="mini-nav-right">
                <li class="reportrange btn btn-success">
                    <i class="fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </li>
                <li>
                    <a href="#" class="btn btn-info sb-open-right  sb-close">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe06a;"></div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Top Bar Ends -->

        <!-- Container fluid Starts -->
        <div class="container-fluid">
            <!-- Spacer starts -->
            <div class="spacer-xs">
                <!-- Row start -->
                <div class="row no-gutter">
                  <div class="col-md-12 col-sm-12 col-sx-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4>Entries Table </h4>
                        <ul class="links">
                          <li>
                            <button type="button" class="btn btn-xs btn-success" ng-click="getHelpModal()" >Help</button>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fa fa-table"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table no-margin">
                            <thead>
                              <tr>
                                <th>Description</th>
                                <th>Cost</th>
                                <th>Type</th>
                                <th><span class="label label-default" style="font-size:12px">Day of Week</span></th>
                                <th><span class="label label-primary" style="font-size:12px">Month</span></th>
                                <th><span class="label label-success" style="font-size:12px">Day of Month</span></th>
                                <th>Options</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="entry in entries | filter:search">
                                <td>{{entry.description}}</td>
                                <td>$ {{entry.cost}}</td>
                                <td>
                                  <span ng-show="entry.isCost" class="label label label-danger">Expenditure</span>
                                  <span ng-hide="entry.isCost" class="label label label-info">Income</span>
                                </td>
                                <td>{{getDayOfWeek(entry)}}</td>
                                <td>{{getMonth(entry)}}</td>
                                <td>{{getDay(entry)}}</td>
                                <td>
                                  <button type="button" class="btn btn-xs btn-danger" ng-click="deleteAutomaticEntry(entry)">Delete</button>
                                </td>
                              </tr>
                              <tr ng-show="isCreate">
                                <td>
                                  <!--<label>Enter entry description</label><br>-->
                                  <input type="text" placeholder="Transaction Description" ng-model="newDescription">
                                </td>
                                <td>
                                  <!--<label>Enter Cost</label><br>-->
                                  <input type="number" ng-model="newCost">
                                </td>
                                <td>
                                  <select ng-model="newSelect">
                                    <option value="expenditure">Expenditure</option>
                                    <option value="gain">Income</option>
                                  </select>
                                </td>
                                <td>
                                  <!--<label>Enter Day of Week. Leave blank for every week</label><br>-->
                                  <input type="text" placeholder="e.g. Monday" ng-disabled="weekDisabled" ng-change="disableDayMonth()" ng-model="newDayOfWeek">
                                <td>
                                  <!--<label>Enter a month. Leave blank for every month</label><br>-->
                                  <input type="text" ng-disabled="dayMonthDisabled" ng-change="disableWeek()" placeholder="e.g. March" ng-model="newMonth">
                                </td>
                                <td>
                                  <!--<label>Enter a day. Leave blank for every day</label><br>-->
                                  <input type="number" ng-disabled="dayMonthDisabled" ng-change="disableWeek()" ng-model="newDay" min="1">
                                </td>
                                <td>
                                  <button type="button" class="btn btn-xs btn-primary" ng-click="createEntry()">Create</button>
                                  <button type="button" class="btn btn-xs btn-danger" ng-click="toggleCreate()">Cancel</button>
                                </td>
                              </tr>
                              <tr ng-hide="isCreate">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                  <button type="button" class="btn btn-xs btn-primary" ng-click="toggleCreate()">New Entry</button>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row end -->

            </div>
            <!--Spacer ends -->
        </div> 
        <!-- Container fluid ends -->

      </div>
      <!-- Main Container Start -->
    
    <!-- Footer Start -->
    <footer>
        Copyright Cloud Admin <span>2015</span>. All Rights Reserved.
    </footer>
    <!-- Footer end -->

    </div>
    <!-- Dashboard Wrapper End -->

</div>