<!-- Bootstrap CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">

<!-- Main CSS -->
<link href="assets/css/main.css" rel="stylesheet" media="screen">

<!-- Slidebar CSS -->
<link rel="stylesheet" type="text/css" href="assets/css/slidebars.css">

<!-- date range -->
<link rel="stylesheet" type="text/css" href="assets/css/daterange.css">

<!-- Metrize Fonts -->
<link href="assets/fonts/metrize.css" rel="stylesheet">


<div ng-controller = "dayChartsController">
<div>

<div ng-include src = "'Layouts/sidebar.html'"></div>


<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper">

<div ng-include src = "'Layouts/header.html'"></div>

<!-- Main Container Start -->
    <div class="main-container">

        <!-- Top Bar Starts -->
        <div class="top-bar clearfix">
            <div class="page-title">
                <h4 ng-hide="allTransactions"><div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                  Day's Transactions 
                  <a ui-sref="dayCharts" class="samll">All Transactions</a>
                </h4>
                <h4 ng-show="allTransactions"><div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                  All Transactions
                  <a ng-click="goToToday()" class="samll">Go To Today</a>
                </h4>
            </div>
            <ul class="right-stats hidden-xs" id="mini-nav-right">
                <li class="reportrange btn btn-success">
                    <i class="fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </li>
                <li>
                    <a href="#" class="btn btn-info sb-open-right  sb-close">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe06a;"></div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Top Bar Ends -->

        <!-- Container fluid Starts -->
        <div class="container-fluid">
            <!-- Spacer starts -->
              <div class="spacer-xs">
                  <!-- Row start -->
                  <div class="row no-gutter">
                    <!--<div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4>Pagination</h4>
                          <ul class="links">
                            <li>
                              <a href="#">
                                <i class="fa fa-sliders"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="panel-body">
                          <ul class="pagination no-margin">
                            <li ng-class="prevPageDisabled()" ><a href = "javascript:void(0)" ng-click="setPage(0)"><i class="fa fa-angle-double-left"></i></a></li>
                            <li ng-class="prevPageDisabled()"><a href ng-click="changePage(0)"><i class="fa fa-angle-left"></i></a></li>
                            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                               <a href="javascript:void(0)">{{n+1}}</a>
                            </li>
                            <li ng-class="nextPageDisabled()"><a href ng-click="changePage(1)"><i class="fa fa-angle-right"></i></a></li>
                            <li ng-class="nextPageDisabled()"><a href="javascript:void(0)" ng-click="setPage(pageCount()-1)"><i class="fa fa-angle-double-right"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>-->
                    <div class="col-md-12 col-sm-12 col-sx-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{{date | date:'longDate'}} , Net Cost: $ {{totCost}}</h4>
                            <ul class="pagination no-margin links">
                              <li ng-class="prevPageDisabled()" ><a href = "javascript:void(0)" ng-click="setPage(0)"><i class="fa fa-angle-double-left"></i></a></li>
                              <li ng-class="prevPageDisabled()"><a href ng-click="changePage(0)"><i class="fa fa-angle-left"></i></a></li>
                              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                 <a href="javascript:void(0)">{{n+1}}</a>
                              </li>
                              <li ng-class="nextPageDisabled()"><a href ng-click="changePage(1)"><i class="fa fa-angle-right"></i></a></li>
                              <li ng-class="nextPageDisabled()"><a href="javascript:void(0)" ng-click="setPage(pageCount()-1)"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                          <div class="table-responsive">
                            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                              <thead>
                                <tr>
                                  <th style="width:5%">
                                    <input type="checkbox" class="no-margin">
                                  </th>
                                  <th style="width:45%">Description &nbsp;
                                    <span class="label label-success" ng-click="setSize(10)">10 entries</span>
                                    <span class="label label-success" ng-click="setSize(25)">25 entries</span>
                                    <span class="label label-success" ng-click="setSize(50)">50 entries</span>
                                    <a href="javascript:void(0)" ng-click="sortType = 'description';sortReverse = !sortReverse" >
                                      <i class="fa fa-sort pull-right" ng-show="sortType != 'description'"></i>
                                      <i ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down pull-right"></i>
                                      <i ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up pull-right"></i>
                                    </a>
                                  </th>
                                  <th style="width:10%" class="hidden-phone">Cost
                                    <a href="javascript:void(0)" ng-click="sortType = 'cost';sortReverse = !sortReverse">
                                      <i class="fa fa-sort pull-right" ng-show="sortType != 'cost'"></i>
                                      <span ng-show="sortType == 'cost' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                                      <span ng-show="sortType == 'cost' && sortReverse" class="fa fa-caret-up pull-right"></span>
                                    </a>
                                  </th>
                                  <th style="width:10%" class="hidden-phone">Status</th>
                                  <th style="width:15%" class="hidden-phone">Date
                                    <a href="javascript:void(0)" ng-click="sortType = 'date';sortReverse = !sortReverse">
                                      <i class="fa fa-sort pull-right" ng-show="sortType != 'date'"></i>
                                      <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down pull-right"></span>
                                      <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up pull-right"></span>
                                    </a>
                                  </th>
                                  <th style="width:15%" class="hidden-phone">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat = "entry in entries | filter:search | offset: currentPage*itemsPerPage | limitTo: itemsPerPage | orderInnerObjectBy:sortType:sortReverse">
                                  <td>
                                    <input type="checkbox" class="no-margin">
                                  </td>
                                  <td ng-hide="isEdit(entry)">
                                    <span class="name">{{entry.description}}</span>
                                  </td>
                                  <td ng-show="isEdit(entry)">
                                    <input type="text" placeholder="{{entry.description}}" id="{{entry._id}}_des">
                                  </td>
                                  <td class="hidden-phone" ng-hide="isEdit(entry)">${{entry.cost}}</td>
                                  <td class="hidden-phone" ng-show="isEdit(entry)">
                                    <input type="number" placeholder="{{entry.cost}}" id="{{entry._id}}_cost">
                                  </td>
                                  <td class="hidden-phone" ng-hide="isEdit(entry)">
                                    <span ng-show="entry.isCost" class="label label label-danger">Expenditure</span>
                                    <span ng-hide="entry.isCost" class="label label label-info">Income</span>
                                  </td>
                                  <td class="hidden-phone" ng-show="isEdit(entry)">
                                    <select id="{{entry._id}}_select">
                                      <option value="expenditure">Expenditure</option>
                                      <option value="gain">Income</option>
                                    </select>
                                  </td>
                                  <td class="hidden-phone" ng-hide="isEdit(entry)">{{entry.date|date:'longDate'}}</td>
                                  <td class="hidden-phone" ng-show="isEdit(entry)">
                                    <input type="date" id="{{entry._id}}_date">
                                  </td>
                                  <td class="hidden-phone" ng-hide="isEdit(entry)">
                                    <div class="btn-group">
                                      <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle">
                                        Action 
                                        <span class="caret">
                                        </span>
                                      </button>
                                      <ul class="dropdown-menu pull-right">
                                        <li>
                                          <a href="#" data-original-title="" ng-click="toggleEdit(entry)">Edit</a>
                                        </li>
                                        <li>
                                          <a href="#" data-original-title="" ng-click="deleteMoneyEntry(entry)">Delete</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </td>
                                  <td class="hidden-phone" ng-show="isEdit(entry)">
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="editMoneyEntry(entry)">Enter</button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="toggleEdit(entry)">Cancel</button>
                                  <td>

                                </tr>

                                <tr ng-hide="isNewEntry">
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="toggleNewEntry()">New Entry</button>
                                  </td>
                                </tr>
                                <tr ng-show="isNewEntry">
                                  <td>
                                    <input type="checkbox" class="no-margin">
                                  </td>
                                  <td>
                                    <input type="text" placeholder="Transaction Description" ng-model="newDescription">
                                  </td>
                                  <td>
                                    <input type="number" placeholder="Cost" ng-model="newCost">
                                  </td>
                                  <td>
                                    <select ng-model="newSelect">
                                      <option value="expenditure">Expenditure</option>
                                      <option value="gain">Income</option>
                                    </select>
                                  </td>
                                  <td> 
                                    <input type="date" ng-model="newDate">
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-xs btn-primary" ng-click="createMoneyEntry()">Create Entry</button>
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="toggleNewEntry()">Cancel</button>
                                  </td>
                                </tr>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Row end -->
        </div>
        <!-- Container fluid ends -->

    </div>
    <!-- Main Container Start -->
    
</div>
<!-- Dashboard Wrapper End -->
    <!-- Footer Start -->
    <footer>
        Copyright Cloud Admin <span>2015</span>. All Rights Reserved.
    </footer>
    <!-- Footer end -->

</div>
