<!-- Left sidebar start -->
<aside id="sidebar" ng-controller="sidebarController">

    <!-- Logo starts -->
    <a href="#" class="logo">
        <img src="assets/img/MP_logo.png" alt="logo">
    </a>
    <!-- Logo ends -->

    <!-- Menu start -->
    <div id='menu'>
        <ul>
            <li>
                <a ui-sref="dayCharts">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                    <span>All Transactions</span>
                </a>
            </li>
            <li>
                <a ui-sref="newMoneyEntry">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0f8;"></div>
                    <span>Make New Entry</span>
                </a>
            </li>
            <li>
                <a ui-sref="monthCharts">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
                    <span>Month Charts</span>
                </a>
            </li>
            <li>
                <a ui-sref="moneyMap">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0ab;"></div>
                    <span>Money Map</span>
                </a>
            </li>
            <li>
                <a ui-sref="moneyGraphs">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0e6;"></div>
                    <span>Transaction Graphs</span>
                </a>
            </li>
            <li>
                <a ui-sref="automaticEntry">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe0f2;"></div>
                    <span>Automatic Entries</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Menu End -->

    <!-- Extras starts -->
    <!--<div class="extras">
        <div class="ex-wrapper">
            <div class="alert alert-info">
                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
            </div>
        </div>
    </div>-->
    <!-- Extras ends -->

</aside>
<!-- Left sidebar end -->